*.iml
*.pyc
*.swp
*~
kubeconfig
.kubeconfig
log/**
pid/**
bin/**
coverage.html
.idea/
.DS_Store
.glide
.clusterOperatorBuildImage
.init
.generate*
.envrc
build/*/tmp/*
contrib/build/*/tmp/*
contrib/examples/*-cluster.yaml
.pkg
.kube
.var
.vscode
*.retry
certs/**
