*.iml
*.pyc
*.swp
*~
kubeconfig
.kubeconfig
log/**
pid/**
bin/**
coverage.html
.idea/
.DS_Store
.glide
.clusterOperatorBuildImage
.init
.generate*
.envrc
build/*/tmp/*
contrib/build/*/tmp/*
.pkg
.kube
.var
.vscode
apiserver-key.pem
apiserver.csr
apiserver.pem
cluster-operator-ca.json
ca-key.pem
ca.csr
ca.pem
server-ca-config.json
