*.iml
*.pyc
*.swp
*~
kubeconfig
.kubeconfig
log/**
pid/**
bin/**
coverage.html
.idea/
.DS_Store
.glide
.boatswainBuildImage
.init
.generate*
.envrc
build/*/tmp/*
contrib/build/*/tmp/*
.pkg
.kube
.var
.vscode
